.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
}